* {
    background-color: white;
}

h1 {
    text-align: center;
    font-family: Arial;
    font-size: 45px;
    color: black;
}

p {
    text-align: center;
    font-family: Arial;
    font-size: 25px;
    color: black;
}

#bloco2 {
    text-align: center;
    height: 35px;
}

#inputNome {
    width: 200px;
    height: 25px;
    color: black;
    border: solid black;
}

#Confirmar {
    width: 100px;
    height: 30px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border: solid black;
}

#box-resposta {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#res {
    margin-top: 20px;
    width: 320px;
    color: orange;
    height: 250px;
    color: black;
    font-size: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}